@(submitTitle: String, action: Call, enctype: Option[String] = None, method: String = "POST")(formBody: Html)

<form method="@method" action="@action" role="form" @enctype.map{e => enctype="@e"}>
    @formBody
    <button type="submit" class="btn btn-success">@submitTitle</button>
</form>