@(title: String, name: String, options: Seq[(String, String)])

<div class="form-group">
    <label for="@name">@title</label>
    <select class="form-control" name="@name" id="@name">
        @options.map { case (k,v) =>
            <option value="@k">@v</option>
        }
    </select>
</div>