@(title: String, name: String, cols: Int = 40, rows: Int = 3, value: String = "")

<div class="form-group">
    <label for="@name">@title</label>
    <textarea class="form-control" rows="@rows" cols="@cols" name="@name" id="@name">@value</textarea>
</div>