@(title: String, name: String, placeholder: String = "", value: String = "")

<div class="form-group">
    <label for="@name">@title</label>
    <input type="text" class="form-control" name="@name" id="@name" placeholder="@placeholder" value="@value">
</div>