@()(implicit rc: auth.RequestContext)

@import views.html.components._

@main2("Импорт словаря из xml-файла") {
    <h1>Импорт словаря из xml-файла</h1>
} {

    <div class="row">
        <div class="col-md-4">
            @form("Импортировать", routes.DictionaryController.submitImportXML, Some("multipart/form-data")) {
                @dictionariesSelect()
                @fileField("XML-файл", "uploadFile")
            }
        </div>
    </div>

}