@()(implicit rc: auth.RequestContext)

@import views.html.components._

@main2("Добавление словаря") {
    <h1>Добавление словаря</h1>
} {

    <div class="row">
        <div class="col-md-4">
        @form("Добавить словарь", routes.DictionaryController.submitAddDictionary()) {
            @textField("Код словаря", "code", "Введите код словаря")
            @textField("Название словаря", "title", "Введите название словаря")
        }
        </div>
    </div>
}