@(di: DBDictionaryItem)(implicit rc: auth.RequestContext)

@import views.html.components._

@cardRow(title: String, value: String) = {
    <tr>
        <td class="col-md-4">@title</td>
        <td class="col-md-8">@value</td>
    </tr>
}

@main2("Тематика " + di.title) {
    <h1>Тематика "@di.title"</h1>
} {

    <a class="btn btn-info"
        href="@routes.DictionaryController.dictionary(di.dictionaryCode)">
        Словарь
    </a>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                @cardRow("Код:", di.code)
                @cardRow("Название:", di.title)
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        @form("добавить слово", routes.DictionaryItemController.addWord(di.id)) {
            @textField("Слово", "word", "Введите слово для тематики")
            @selectField("Вес слова", "weight", Range(1, 11).map { w => (w.toString, w.toString)}.toSeq)
        }
        </div>
    </div>

    <h2>Слова</h2>

    <table class="table table-hover table-bordered">
        <thead><tr><th>Слово</th><th>Вес слова</th><th>&nbsp;</th></tr></thead>
        <tbody>
        @di.wordsList.map { w =>
            <tr>
                <td class="col-md-8">@w.original</td>
                <td class="col-md-2">@w.weight</td>
                <td class="col-md-2"><a class="btn btn-danger" href="@routes.DictionaryItemController.deleteWord(w.id)">Удалить</a></td>
            </tr>
        }
        </tbody>
    </table>

}