@(d: DBDictionary)(implicit rc: auth.RequestContext)

@main2("Стопслова словаря " + d.title) {
    <h1>Стопслова словаря @d.title</h1>
} {

    <a class="btn btn-success" href="@routes.DictionaryController.editDictionaryStopWords(d.code)">редактировать</a>

    <pre>@d.stopWords</pre>
}
