@(dictionaries: Seq[DBDictionary])(implicit rc: auth.RequestContext)

@main2("Список словарей"){
    <h1>Список словарей</h1>
} {

    <table class="table table-bordered">
    @dictionaries.map { d =>
        <tr>
            <td class="col-md-10"><a href="@routes.DictionaryController.dictionary(d.code)">@d.title</a></td>
            <td class="col-md-2"><a class="btn btn-danger" href="@routes.DictionaryController.deleteDictionary(d.code)">удалить</a></td>
        </tr>
    }
    </table>

}

