@(d: DBDictionary)(implicit rc: auth.RequestContext)

@main2("Защищенные слова словаря " + d.title) {
    <h1>Защищенные слова словаря @d.title</h1>
} {

    <a class="btn btn-success" href="@routes.DictionaryController.editDictionaryProtWords(d.code)">редактировать</a>

    <pre>@d.protWords</pre>
}