@(d: DBDictionary)(implicit rc: auth.RequestContext)

@import views.html.components._

@cardRow(title: String, value: String) = {
    <dt>@title</dt>
    <dd>@value</dd>
}

@main2("Словарь " + d.title) {
    <h1>Словарь @d.title</h1>
} {

    <div class="row">
        <dl class="dl-horizontal">
        @cardRow("Код:", d.code)
        @cardRow("Название:", d.title)
        </dl>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="well text-center"><a href="@routes.DictionaryController.dictionaryXml(d.code)">В виде XML</a></p>
        </div>
        <div class="col-md-4">
            <p class="well text-center"><a href="@routes.DictionaryController.dictionaryStopWords(d.code)">Стопслова</a></p>
        </div>
        <div class="col-md-4">
            <p class="well text-center"><a href="@routes.DictionaryController.dictionaryProtWords(d.code)">Защищенные слова</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        @form("добавить тематику", routes.DictionaryItemController.submitAdd(d.code)) {
            @textField("Код тематики", "code", "Код тематики")
            @textField("Название тематики", "title", "Название тематики")
        }
        </div>
    </div>

    <h2>Тематики (@d.items.size)</h2>

    <table class="table table-bordered">
    @d.items.map { i =>
        <tr>
            <td class="col-md-10"><a href="@routes.DictionaryItemController.dictionaryItem(i.id)">@i.title</a></td>
            <td class="col-md-2"><a class="btn btn-danger" href="@routes.DictionaryItemController.delete(i.id)">Удалить</a></td>
        </tr>
    }
    </table>

}