@()(implicit rc: auth.RequestContext)

@import views.html.components._

@title = @{"Индексирование конкурса"}

@main2(title) {
    <h1>@title</h1>
} {

    <div class="row">
        <div class="col-md-10">
        @form("Отправить", routes.TenderSolrController.submitIndexTender) {
            @textField("Id конкурса", "id", "Id конкурса")
            @textAreaField("Текст конкурса", "content", 100, 15)
        }
        </div>
    </div>

}