@(q: String, tenders: Seq[_root_.solr.TenderSolrModel])(implicit rc: auth.RequestContext)

@import views.html.components._
@import _root_.solr.TenderSolrConstants._

@title = @{"Поиск конкурсов"}

@main2(title) {
    <h1>@title</h1>
} {

    <div class="row">
        <div class="col-md-10">
        @form(submitTitle = "Поиск", action = routes.TenderSolrController.search(), method = "GET") {
            @textField("Запрос", "q", "", q)
        }
        </div>
    </div>

    @if(tenders.nonEmpty) {
        @tenders.zipWithIndex.map { case (t, i) =>
            <div class="row keywords-list-element">
                <div class="col-sm-1">
                    <strong>@(i+1)</strong>
                </div>
                <div class="col-sm-9">
                    @Html(t.content
                            .replaceAll(HighlightPre, "<b>")
                            .replaceAll(HighlightPost, "</b>")
                            .replaceAll(HighlightDelimeter, "<br/>"))
                </div>
            </div>
        }
    }

}