@(backUrl: String)(implicit rc: auth.RequestContext)

@import views.html.components._

@main("Вход") {

    <style>
    body, html {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    }

    .form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
    background-color: rgba(255,255,255,.55);
        border-radius: 3px;
    }
    .form-signin-heading {
        color: #555;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .form-signin,
    .form-signin .checkbox {
    margin-bottom: 10px;
    }
    .form-signin .checkbox {
    font-weight: normal;
    }
    .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .form-signin .form-control:focus {
    z-index: 2;
    }
    .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

        .login-devider {
            padding: 30px 0;
            color: #bbb;
            font-size: 90px;
            font-weight: bold;
            text-align: center;
        }
        .no-rounded {
            border-radius: 0 !important;
        }
    </style>

    @helper.form(routes.LoginController.submitLogin(backUrl), 'class -> "form-signin") {
        <h2 class="form-signin-heading">Войти в систему</h2>
        <input type="text" class="form-control" name="email" placeholder="Введите email" required>
        <input type="password" class="form-control" name="password" placeholder="Введите пароль" required>
        <br />
        <button type="submit" class="btn btn-lg btn-primary btn-block">Вход</button>
    }

    <div class="login-devider">или</div>

    @helper.form(routes.LoginController.submitRegistration(backUrl), 'class -> "form-signin") {
        <h2 class="form-signin-heading">Зарегистрироваться</h2>
        <input type="text" class="form-control" name="email" placeholder="Введите email" required>
        <input type="text" class="form-control no-rounded" name="title" placeholder="Введите имя" required>
        <input type="password" class="form-control" name="password" placeholder="Введите пароль" required>
        <br />
        <button type="submit" class="btn btn-lg btn-success btn-block">Регистрация</button>
    }

}