@(user: User)(implicit rc: auth.RequestContext)

@main2(user.email){
    <h1>XPIR, Управление ключевыми словами</h1>
} {
    <link href="@routes.Assets.at("css/keywords.css")" rel="stylesheet" />

    <div ng-app="keywordsApp"> @* angular app control here *@
        <div ng-controller="KeywordsCtrl">

            <form name="newKeywordsForm" class="keywords-form">
                <div class="form-group" data-ng-class="{'has-error': newKeywordsForm.content.$invalid}">
                    <label>Ключевые слова</label>
                    <textarea rows="3" name="content" class="form-control" placeholder="Введите новый список ключевых слов" name="content" data-ng-model="newKeywords.content" required>

                    </textarea>
                </div>
                <button ng-click="addKeywords()" ng-disabled="newKeywordsForm.$invalid" class="btn btn-primary">Добавить</button>
            </form>

            <div class="row keywords-list-element" ng-repeat="word in keywords track by $index">
                <div class="col-sm-1">
                    <strong>{{$index+1}}</strong>
                </div>
                <div class="col-sm-9">
                    {{word.content}}
                </div>
                <div class="col-sm-2">
                    <a href="javascript: void(0);" data-ng-click="delete(word)" class="btn btn-danger pull-right">Удалить</a>
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.at("js/angular/angular.js")"></script>
    <script src="@routes.Assets.at("js/angular/angular-resource.js")"></script>
    <script src="@routes.Assets.at("js/services/keywords.js")"></script>
    <script src="@routes.Assets.at("js/controllers/keywords.js")"></script>

}