@(user: User)(implicit rc: auth.RequestContext)

@main2(user.email){
    <h1>XPIR, Кабинет пользователя</h1>
} {

    <span class="text-muted">Тут инфа, статистика и другое</span>

    <a class="btn" href="@routes.UserController.sendFakeEmail">Отправить email</a>
}