@(user: User)(implicit rc: auth.RequestContext)

@main2(user.email){
    <h1>XPIR, Результаты поиска</h1>
} {

    <link href="@routes.Assets.at("css/keywords.css")" rel="stylesheet" />

    <div ng-app="resultsApp"> @* angular app control here *@
        <div ng-controller="ResultsCtrl">

            <div class="row keywords-list-element" ng-repeat="word in results track by $index">
                <div class="col-sm-1">
                    <strong>{{$index+1}}</strong>
                </div>
                <div class="col-sm-11">
                    <div><strong>{{word.title}}</strong></div>
                    <span class="replacer hide">{{word.content}}</span>
                    <span ng-bind-html="$sce.trustAsHtml(word.content)"></span>
                    <br />
                    <div class="text-muted">{{word.keywords}}</div>
                </div>
            </div>
        </div>
    </div>

    <script>

        window.setInterval(function() {
            $(".replacer" ).each(function() {
                $(this).removeClass("replacer");
                $(this).after($(this).text())
            });
        }, 200)

    </script>

    <script src="@routes.Assets.at("js/angular/angular.js")"></script>
    <script src="@routes.Assets.at("js/angular/angular-resource.js")"></script>
    <script src="@routes.Assets.at("js/services/results.js")"></script>
    <script src="@routes.Assets.at("js/controllers/results.js")"></script>
}