@(fileName: Option[String], results: Seq[CheckResult])(implicit rc: auth.RequestContext)

@import views.html.components._

@main2("Тематика файла " + fileName.getOrElse("")) {
    <h1>Тематика файла @fileName.getOrElse("")</h1>
} {

    <div class="row">
        <div class="col-md-4">
        @form("Отправить", routes.Application.submitCheckFile, Some("multipart/form-data")) {
            @dictionariesSelect()
            @fileField("Файл для проверки", "uploadFile")
        }
        </div>
    </div>

    @fileName.map { fn => <p>@fn</p> }

    @if(results.nonEmpty){
        <table class="table table-hover table-bordered">
            <thead><tr><th>Тематика</th><th>Процент похожести</th><th>Кол-во баллов</th></tr></thead>
            <tbody>
                @results.map { r =>
                    <tr>
                        <td class="col-md-8">@r.title</td>
                        <td class="col-md-2">@r.weight.formatted("%1.2f")</td>
                        <td class="col-md-2">@r.sum</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}