@(d: DBDictionary, fileName: String, wordsWithCount: Seq[(String, Int)])(implicit rc: auth.RequestContext)

@main2("Содержание файла " + fileName) {
    <h1>Содержание файла @fileName</h1>
} {

    @if(wordsWithCount.nonEmpty) {

        @views.html.components.dictionaryItemsSelect(d.code)

        <table class="table table-hover table-bordered">
            <thead><tr><th>Слово</th><th>Количество вхождений слова</th></tr></thead>
            <tbody>
            @wordsWithCount.map { case (w,c) =>
            <tr>
                <td class="col-md-4">@w</td>
                <td class="col-md-2">@c</td>
                <td class="col-md-6">
                    <div>
                        <button class="add-word-button btn-success" data-word="@w" data-weight="10">Сильное слово</button>
                        <button class="add-word-button btn-success" data-word="@w" data-weight="6">Среднее слово</button>
                        <button class="add-word-button btn-success" data-word="@w" data-weight="3">Слабое слово</button>
                    </div>
                </td>
            </tr>
            }
            </tbody>
        </table>
    }

    <script>
        $(".add-word-button" ).click(function(){
            var w = $(this ).data().weight;
            var itemId = $("#dictionaryItem" ).val();
            var $button = $(this);
            var word = $button.data().word;
            $.ajax({
                url: "/dictionaryItemAddWord",
                type: "GET",
                data: {
                    itemId : itemId,
                    word: word,
                    w: w
                },
                dataType: "html"
            } ).success(function( html ) {
                $button.parent().html( html );
            })
        });
    </script>

    <p><a href="@routes.Application.stemFile">Добавить еще файл</a> </p>

}