@()(implicit rc: auth.RequestContext)

@main2("CFProject"){
    <h1>Классификатор файлов</h1>
} {

    <div class="row">
        <div class="col-md-12">
            <p class="lead">Здесь будет приветственное слово.</p>
        </div>
    </div>

}