@()(implicit rc: auth.RequestContext)

@import views.html.components._

@main2("Стемминг файла") {
    <h1>Стемминг файла</h1>
} {

    <div class="row">
        <div class="col-md-4">
        @form("Отправить", routes.Application.submitStemFile, Some("multipart/form-data")) {
            @dictionariesSelect()
            @fileField("XML-файл", "uploadFile")
        }
        </div>
    </div>

}