@(original: String, wordsWithCount: Seq[(String, Int)])(implicit rc: auth.RequestContext)

@import views.html.components._

@main2("Стемминг текста") {
    <h1>Стемминг текста</h1>
} {

    <div class="row">
        <div class="col-md-10">
        @form("Отправить", routes.Application.submitStemText) {
            @textAreaField("Текст для стемминга", "word", 100, 15, original)
        }
        </div>
    </div>


    @if(wordsWithCount.nonEmpty) {
    <table class="table table-hover table-bordered">
        <thead><tr><th>Слово</th><th>Количество вхождений слова</th></tr></thead>
        <tbody>
        @wordsWithCount.map { case (w,c) =>
            <tr>
                <td class="col-md-4">@w</td>
                <td class="col-md-2">@c</td>
            </tr>
        }
        </tbody>
    </table>
    }

}